@import '~bulma';
@font-face {
  font-family: 'Raleway';
  src: url(@/assets/fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Calistoga';
  src:  url(~@/assets/fonts/Calistoga-Regular.ttf);
}